name: check and publish

env:
  PYTHON_VERSION: "3.12"

on: push

permissions:
  contents: "write"
  packages: "write"
  pull-requests: "read"

jobs:
  static-checks:
    strategy:
        fail-fast: false
        matrix:
          os: ["ubuntu-latest", "macos-latest", "windows-latest"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.1.4
        with:
          poetry-version: ${{ env.POETRY_VERSION }}
      - run: ./pw pdm lock --check
      - run: ./pw install
      - run: ./pw run mypy -p python_transpiler
      - run: ./pw run mypy tests
      - run: ./pw run black --check --diff .
      - run: ./pw run ruff .
      - run: ./pw run pylint python_transpiler tests
      - run: ./pw test
  publish:
    runs-on: "ubuntu-latest"
    if: github.ref == 'refs/heads/master'
    needs:
      - static-checks
    permissions:
      id-token: write
      contents: write
      packages: write
      pull-requests: read
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Run image
        uses: abatilo/actions-poetry@v2.1.4
        with:
          poetry-version: ${{ env.POETRY_VERSION }}
      - name: set token
        run: poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
      # TODO: save installed deps from previous stage
      - run: poetry install
      - run: poetry run transpile transpiled --target=3.8
      - run: cd transpiled
      - run: poetry build
      - run: poetry publish
      - run: ./pw pdm publish
      - name: get version number
        id: current-version
        run: echo ::set-output name=CURRENT_VERSION::$(./pw pdm show --version)
      - uses: marvinpinto/action-automatic-releases@v1.2.1
        with:
            repo_token: ${{ secrets.GITHUB_TOKEN }}
            prerelease: false
            files: dist/*
            automatic_release_tag: ${{ steps.current-version.outputs.CURRENT_VERSION }}
